* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Intro*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: rgb(18, 18, 182);
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 18px;
    color: rgb(167, 167, 167);
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a:hover {
    color: rgb(18, 18, 182);
}

.container-intro {
    position: relative;
    display: inline-block;
}

.container-intro img {
    display: block;
    width: 100%;
    height: auto;
}

.container-intro img::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.label-intro {
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px 20px;
    font-size: 40px;
    text-align: right;
    font-weight: 700;
}

.intro {
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 20px 20px;
    font-size: 20px;
    text-align: right;
}

/*About*/
.about {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-left: 100px;
    margin: 50px;
    padding-bottom: 30px;
}

.heading h1 {
    font-size: 2.1rem;
    color: rgb(18, 18, 182);
    /* margin-bottom: 25px;
    position: relative; */
}

.heading p {
    text-transform: uppercase;
    padding: 1rem 0;
}

.about-container {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.section-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.about-img {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-img img {
    max-width: 90%;
    height: auto;
    display: block;
    padding-left: 15%;
}

.about-content {
    padding-right: 10%;
    flex: 1;
}

.about-content h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: black;
}

.about-content p {
    font-size: 16px;
    line-height: 1.5;
    color: rgb(66, 66, 66);
}

/*Blue Line*/

.section-blue-img {
    width: 100%;
    min-height: 15vh;
    padding-left: 16%;
    background-color: rgb(18, 18, 182);
}

.container-blue-img {
    width: 80%;
    display: flex;
    margin: auto;
    padding-top: 20px;
}

.column-img {
    flex: 33.33%;
    padding: 5px;
}

.column-img img {
    transition: all 0.5s ease;
}

.column-img img:hover {
    transform: scale(1.5);
}

/*Blog*/

.blog {
    padding: 3.0rem 0;
}

.blog-title {
    text-align: center;
    padding: 2rem 0;
}

.blog-title h2 {
    font-size: 2.1rem;
    color: rgb(18, 18, 182);
}

.blog-title p {
    text-transform: uppercase;
    padding: 1rem 0;
}

.blog-content {
    padding-left: 10%;
    padding-right: 10%;
    margin: 1rem 0;
}

.blog-item {
    cursor: pointer;
    margin: 1.5rem 0;
}

.blog-img {
    position: relative;
    overflow: hidden;
}

.blog-img::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.blog-img img {
    transition: all 0.5s ease;
}

.blog-item:hover img {
    transform: scale(1.2);
}

.item-title {
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.item-title a {
    color: rgb(58, 58, 58);
    text-decoration: none;
    text-transform: capitalize;
}

.blog-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 1.0rem;
}

.item-title a:hover{
    color: rgb(18, 18, 182);
}

/*Gallery*/

.gallery {
    background-color: whitesmoke;
    width: 100%;
    min-height: 50vh;
    padding: 2.0rem 0;
}

.gallery-title {
    text-align: center;
    padding-top: 50px;
}

.gallery-title h2 {
    font-size: 2.1rem;
    color: rgb(18, 18, 182);
}

.gallery-title p {
    text-transform: uppercase;
    padding: 1rem 0;
}

.gallery-content {
    margin: 1rem 0;
}

.gallery-item {
    cursor: pointer;
    margin: 1.5rem 0;
}

.gallery-img {
    position: relative;
    overflow: hidden;
}

 .gallery-img::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}


.gallery-img img {
    transition: all 0s ease;
}

.gallery-item:hover img {
    transform: scale(1.2);
}

.gallery-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}
