* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Intro*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: rgb(18, 18, 182);
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 18px;
    color: rgb(167, 167, 167);
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a:hover {
    color: rgb(18, 18, 182);
}

.container-intro {
    position: relative;
    display: inline-block;
}

.container-intro img {
    display: block;
    width: 100%;
    height: auto;
}

.container-intro::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 98.5%;
    background: rgba(0, 0, 0, 0.3);
}

.label-intro {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px 20px;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    line-height: 1.5;
}

.intro {
    position: absolute;
    top: 65%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 20px 20px;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    align-items: center;
}

/*About*/
.about {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-left: 100px;
    margin: 50px;
    padding-bottom: 30px;
}

.heading h1 {
    font-size: 2.1rem;
    color: rgb(18, 18, 182);
    /* margin-bottom: 25px;
    position: relative; */
}

.heading p {
    text-transform: uppercase;
    padding: 1rem 0;
}

.about-container {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.section-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.about-img {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-img img {
    max-width: 90%;
    height: auto;
    display: block;
    padding-left: 15%;
}

.about-content {
    padding-right: 10%;
    flex: 1;
}

.about-content h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: black;
}

.about-content p {
    font-size: 16px;
    line-height: 1.5;
    color: rgb(66, 66, 66);
}

/*Blue Line*/

.section-blue-img {
    width: 100%;
    min-height: 15vh;
    padding-left: 16%;
    background-color: rgb(18, 18, 182);
}

.container-blue-img {
    width: 80%;
    display: flex;
    margin: auto;
    padding-top: 20px;
}

.column-img {
    flex: 33.33%;
    padding: 5px;
}

/*Blog*/

.blog {
    padding: 3.0rem 0;
}

.blog-title {
    text-align: center;
    padding: 2rem 0;
}

.blog-title h2 {
    font-size: 2.1rem;
    color: rgb(18, 18, 182);
}

.blog-title p {
    text-transform: uppercase;
    padding: 1rem 0;
}

.blog-content {
    padding-left: 10%;
    padding-right: 10%;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 1.0rem;
}

.blog-item {
    cursor: pointer;
    margin: 1.5rem 0;
}

.blog-img {
    position: relative;
    overflow: hidden;
}

.blog-img::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.blog-img img {
    transition: all 1s ease;
}

.blog-item:hover img {
    transform: scale(1.2);
}

.item-title {
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.item-title a {
    color: rgb(58, 58, 58);
    text-decoration: none;
    text-transform: capitalize;
}

.blog-content {
   
}

.item-title a:hover{
    color: rgb(18, 18, 182);
}

/*Gallery*/

.gallery {
    background-color: whitesmoke;
    width: 100%;
    min-height: 50vh;
    padding: 2.0rem 0;
}

.gallery-title {
    text-align: center;
    padding-top: 50px;
}

.gallery-title h2 {
    font-size: 2.1rem;
    color: rgb(18, 18, 182);
}

.gallery-title p {
    text-transform: uppercase;
    padding: 1rem 0;
}

.gallery-content {
    margin: 1rem 0;
}

.gallery-item {
    cursor: pointer;
    margin: 1.5rem 0;
}

.gallery-img {
    position: relative;
    overflow: hidden;
}

 .gallery-img::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}


.gallery-img img {
    transition: all 0.1s ease;
}

.gallery-item:hover img {
    transform: scale(1.2);
}

.gallery-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

/*new page*/

.Breathtaking-header {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}

.Breathtaking-heading h1 {
    font-size: 2.1rem;
    background-color: white;
    color: rgb(18, 18, 182);
    width: 100%;
    min-height: 10vh;
    padding-top: 25px;
}

.Breathtaking-heading img {
    /* padding-bottom: 10px; */
}

.Breathtaking-content {
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1.5;
    text-transform: uppercase;
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 12px;
}

.Breathtaking-item {
    padding-top: 100px;
}

.Breathtaking-item h3 {
    font-size: 20px;
}

.Breathtaking-item-img {
    padding-top: 50px;
}

.Breathtaking-item-img img {
    transition: all 0.5s ease;
}

.Breathtaking-item-img img:hover {
    transform: scale(1.2);
}

.Breathtaking-item p {
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.5;
    font-size: 15px;
    color: rgb(77, 77, 77);
}

.Breathtaking-item-content {
    padding-left: 10%;
    padding-right: 10%;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 1.0rem;
}

.Breathtaking-item {
    margin: 1.5rem 0;
}

.foot {
    padding-top: 50px;
    background-color: rgb(18, 18, 182);
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding-bottom: 20px;
    font-size: 15px;
}

.species {
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.species-heading h1{
    text-align: center;
    font-size: 2.1rem;
    background-color: white;
    color: rgb(18, 18, 182);
    width: 100%;
    min-height: 10vh;
    padding-top: 25px;
}

.species-content {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1.5;
    text-transform: uppercase;
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 12px;
}

.species-item-content {
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-left: 33%;
}

.species-item {
    padding-top: 100px;
}

.species-item h3 {
    font-size: 20px;
}

.species-item-img {
    padding-top: 50px;
}

.species-item-img img {
    transition: all 0.5s ease;
}

.species-item-img img:hover {
    transform: scale(1.2);
}

.species-item p {
    text-decoration: none;
    text-transform: capitalize;
    padding-top: 50px;
    padding-right: 600px;
    line-height: 1.5;
    font-size: 15px;
    color: rgb(77, 77, 77);
}

.table {
    width: 650px;
    border: 1px solid rgb(90, 90, 90);
    border-collapse: collapse;
}

.row {
    height: 50px;
    font-size: 12px;
}

.row td {
    border: 1px solid rgb(90, 90, 90);
    border-collapse: collapse;
    padding-left: 5px;
}

.book-item-content {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 300px;
}

.book-table {
    width: 80%;
    border: 1px solid rgb(90, 90, 90);
    border-collapse: collapse;
}

.book-table th {
    font-size: 13px;
    height: 50px;
    background-color: rgb(18, 18, 182);
    color: white;
}

.book-table td {
    height: 200px;
    font-size: 12px;
}

.book-table th,td {
    border: 1px solid rgb(90, 90, 90);
    border-collapse: collapse;
    padding-left: 5px;
    padding-right: 5px;
}

.book-table img {
    transition: all 0.5s ease;
}

.book-table img:hover {
    transform: scale(1.2);
}