* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: rgb(18, 18, 182);
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 18px;
    color: rgb(18, 18, 182);
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a:hover {
    color: black;
}

.container-intro {
    position: relative;
    display: inline-block;
}

.container-intro img {
    display: block;
    width: 100%;
    height: auto;
}

.label-intro {
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px 20px;
    font-size: 40px;
    text-align: right;
    font-weight: 700;
}

.intro {
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 20px 20px;
    font-size: 20px;
    text-align: right;
}

.section-about {
    width: 80%;
    min-height: 70vh;
    padding-left: 20%;
    background-color: white;
}

.about-container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.content-section-about {
    float: left;
    width: 60%;
}

.image-section-about {
    float: right;
    width: 35%;
}

.image-section-about img {
    width: 100%;
    height: auto;
}

.content-section-about .title {
    color: rgb(18, 18, 182);
    font-size: 16px;
}

.content-section-about .content-about h3 {
    margin-top: 50px;
    font-weight: 500;
}

.content-section-about .content-about p {
    margin-top: 40px;
    font-size: 15px;
    line-height: 2.0;
}

.content-section-about .content-about .button-about {
    margin-top: 95px;
}

.content-section-about .content-about .button-about a {
    background-color: rgb(18, 18, 182);
    border-radius: 5px;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.content-section-about .content-about .button-about a:hover {
    background-color: black;
    color: white;
}

.section-blue-img {
    width: 100%;
    min-height: 15vh;
    padding-left: 20%;
    background-color: rgb(18, 18, 182);
}

.container-blue-img {
    width: 90%;
    display: flex;
    margin: auto;
    padding-top: 20px;
}

.column-img {
    flex: 33.33%;
    padding: 5px;
}

