@media screen and (max-width:806px) and (min-width: 520px){

    .header {
        padding: 20px 50px;
    }

    .logo {
        font-size: 25px;
    }

    .navbar a {
        font-size: 14px;
    }

    .nav {
        display: none;
    }

    .menu .fa-bars{
        display: inline-block;
    }

    .label-intro {
        font-size: 22px;
        left: 50%;
    }

    .intro {
        font-size: 13px;
        left: 50%;
    }

    .container-intro::after {
        height: 96.1%;
    }

     /* about */

    .heading h1 {
        font-size: 1.5rem;
    }

    .heading p {
       font-size: 0.9rem;
    }

    .about-content {
        padding-right: 6%;
    }

    .about-img img {
        max-width: 96%;
        height: auto;
        display: block;
        padding-left: 15%;
    }

    .about-content h2 {
        font-size: 15px;
        margin-bottom: 20px;
        color: black;
        line-height: 1.5;
    }
    
    .about-content p {
        font-size: 12px;
        line-height: 1.5;
        color: rgb(66, 66, 66);
    }

    /*Blue Line*/

    .section-blue-img {
        min-height: 9vh;
        padding-left: 16%;
    }

    .column-img img {
        width: 25% !important;
    }

    /* blog */

    .blog-title h2 {
        font-size: 1.5rem;
    }
    
    .blog-title p {
        font-size: 0.9rem;
    }

    .item-title {
        font-size: 0.9rem;
    }

    .blog-content {
        grid-template-columns: repeat(2, 1fr);
    }

    /* gallery */

    .gallery-title h2 {
        font-size: 1.5rem;
    }
    
    .gallery-title p {
        font-size: 0.9rem;
    }

    .gallery-content {
        grid-template-columns: repeat(2, 1fr);
    }

    /* contact */

    .contact-container h2 {
        font-size: 1.5rem;
    }

    .contact-form h3 {
        font-size: 16px;
    }

    input, textarea {
        width: 100%;
        padding: 10px;
    }

    .contact-form {
        margin-bottom: 20px;
    }

    .contact-info {
        margin-left: 0px;
    }

    .contact-info h3 {
        font-size: 16px;
    }
    
    .contact-info p {
        font-size: 13px;
    }

    button {
        padding: 10px 18px;
    }

    .contact-wrapper {
        grid-template-columns: repeat(1, 1fr);
        /* padding-left: 20px; */
    }

}