@media screen and (max-width:926px) and (min-width:805px){

    .header {
        padding: 20px 65px;
    }

    .logo {
        font-size: 25px;
    }

    .navbar a {
        font-size: 11px;
    }

    .label-intro {
        font-size: 35px;
        left: 50%;
    }

    .intro {
        font-size: 13px;
        left: 50%;
    }

    .container-intro::after {
        height: 97%;
    }

     /* about */

    .heading h1 {
        font-size: 1.7rem;
    }

    .heading p {
       font-size: 0.95rem;
    }

    .about-content {
        padding-right: 6%;
    }

    .about-img img {
        max-width: 95%;
        height: auto;
        display: block;
        padding-left: 15%;
    }

    .about-content h2 {
        font-size: 18px;
        margin-bottom: 20px;
        color: black;
    }
    
    .about-content p {
        font-size: 15px;
        line-height: 1.5;
        color: rgb(66, 66, 66);
    }

    /*Blue Line*/

    .section-blue-img {
        min-height: 10vh;
        padding-left: 16%;
    }

    /* blog */

    .blog-title h2 {
        font-size: 1.7rem;
    }
    
    .blog-title p {
        font-size: 0.95rem;
    }

    .item-title {
        font-size: 0.95rem;
    }

    .blog-content {
        grid-template-columns: repeat(2, 1fr);
    }

    /* gallery */

    .gallery-title h2 {
        font-size: 1.7rem;
    }
    
    .gallery-title p {
        font-size: 0.95rem;
    }

    .gallery-content {
        grid-template-columns: repeat(2, 1fr);
    }

    /* contact */

    .contact-container h2 {
        font-size: 1.7rem;
    }

    .contact-form h3 {
        font-size: 16px;
    }

    input, textarea {
        width: 95%;
        padding: 10px;
    }

    .contact-info h3 {
        font-size: 16px;
    }
    
    .contact-info p {
        font-size: 13px;
    }

    button {
        padding: 10px 18px;
    }

    /* breathtaking page */

    .Breathtaking-item-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .Breathtaking-heading h1 {
        font-size: 1.8rem;
    }
    
    /* .Breathtaking-item h3 {
        font-size: 17px;
    } */

    /* scientific books */

    .book-table {
        width: 90%;
    }

    .book-item-content {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 90px;
    }

    .book-table p {
        padding: 10px 0;
        font-size: 11px;
        max-height: 150px;
        overflow-y: auto;
    }

    .book-table img {
        width: 70%;
        padding: 10px 0;
    }

    .book-name {
        width: 200px;
    }

    /* species spotlights */

    .species-heading h1{
        font-size: 1.6rem;
    }

    .species-item p {
        font-size: 13px;
    }

    .species-item-content {
        padding-left: 10%;
        padding-right: 10%;
        grid-template-columns: repeat(1, 1fr);
    }

    .table {
        width: 650px;
    }

    /* threats */

    .threats-item p {
        font-size: 14px;
    }

    .img-content {
        margin: 1rem 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    /* advocacy */

    .protect-img {
        grid-template-columns: repeat(1, 1fr);
    }
}