@media screen and (max-width:1136px) and (min-width:925px){

    .header {
        padding: 20px 75px;
    }

    .logo {
        font-size: 25px;
    }

    .navbar a {
        font-size: 11px;
    }

    .label-intro {
        font-size: 43px;
        left: 50%;
    }

    .intro {
        font-size: 13px;
        left: 50%;
    }

    .container-intro::after {
        height: 97.5%;
    }

    /* about */

    .heading h1 {
        font-size: 1.9rem;
    }

    .heading p {
       font-size: 1rem;
    }

    .about-content {
        padding-right: 6%;
    }

    /*Blue Line*/

    .section-blue-img {
        min-height: 11vh;
        padding-left: 16%;
    }

    /* blog */

    .blog-title h2 {
        font-size: 1.9rem;
    }
    
    .blog-title p {
        font-size: 1rem;
    }

    .item-title {
        font-size: 1rem;
    }

    .blog-content {
        grid-template-columns: repeat(2, 1fr);
    }

    /* gallery */

    .gallery-title h2 {
        font-size: 1.9rem;
    }
    
    .gallery-title p {
        font-size: 1rem;
    }

    .gallery-content {
        grid-template-columns: repeat(3, 1fr);
    }

    /* contact */

    .contact-container h2 {
        font-size: 1.9rem;
    }

    .contact-form h3 {
        font-size: 18px;
    }

    input, textarea {
        width: 90%;
        padding: 10px;
    }

    .contact-info h3 {
        font-size: 18px;
    }
    
    .contact-info p {
        font-size: 16px;
    }

    button {
        padding: 10px 24px;
    }

    /* breathtaking page */

    .Breathtaking-item h3 {
        font-size: 12px;
    }

    .Breathtaking-item p {
        font-size: 12px;
        line-height: 1.5;
    }

    /* scientific books */

    .book-table {
        width: 90%;
    }

    .book-item-content {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 90px;
    }

    .book-table p {
        padding: 10px 0;
        font-size: 11px;
        max-height: 150px;
        overflow-y: auto;
    }

    .book-name {
        width: 100px;
    }

    /* species spotlights */

    .species-heading h1{
        font-size: 1.6rem;
    }

    .species-item p {
        font-size: 13px;
    }

    .species-item-content {
        padding-left: 10%;
        padding-right: 10%;
        grid-template-columns: repeat(1, 1fr);
    }

    .table {
        width: 700px;
    }

     /* threats */

     .threats-item p {
        font-size: 14px;
    }
}