@media screen and (max-width:1400px) and (min-width:1261px){
    .logo {
        font-size: 30px;
    }

    .navbar a {
        font-size: 16px;
    }

    .label-intro {
        font-size: 48px;
    }

    .intro {
        font-size: 18px;
    }

    .container-intro::after {
        height: 97.7%;
    }

    /* about */

    .about-content {
        padding-right: 6%;
    }

    /*Blue Line*/

    .section-blue-img {
        min-height: 13vh;
        padding-left: 16%;
    }

    /* blog */

    /* gallery */

    /* breathtaking page */
    
}